Repository ipfs-shipyard/ipfs-thing-2022, pull requests merged in 2022-07, with the labels that each got.

#83 Update b_2_content-routing-1.toml
  events/b_2_content-routing-1.toml
Labels: Track: Content Routing 1

#82 Add talk at 11:45 on Content Routing 1
  events/b_2_content-routing-1.toml
Labels: Track: Content Routing 1

#79 Car Pool details
  events/c_2_data_transfer.toml
Labels: Track: Data Transfer

#115 feat: add Elastic IPFS deep dive talk
  events/c_1_connecting-ipfs.toml
Labels: Track: Connecting IPFS

#101 Add Webrecorder lightning talk for Browsers and the Web
  events/d_3_browsers_and_web.toml
Labels: Track: Browsers and the Web

#134 Propose session in WASM track
  events/d_3_ipfs-wasm.toml
Labels: track: IPFS & WASM
